*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 10px/16px=62.5% ->1rem=10px */
  font-size: 62.5%;

}

body {
  min-height: 100vh;
  font-family: 'Kanit', sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  background-image: linear-gradient(to right top, #FC5404, #F9B208);

  display: flex;
  align-items: center;
  justify-content: center;
}