@import '../../../variables/variables.scss';

.navigation {
  //background-image: linear-gradient(to right top, rgba(252, 84, 4, .6), rgb(249, 176, 6));
  background-image: linear-gradient(to right top, rgba(252, 250, 249, 0.6), rgba(252, 251, 248, .5));
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  &__logo {
    //font-family: 'Black Ops One', cursive;
    //font-family: 'Fredericka the Great', cursive;
    font-family: 'Redressed', cursive;
    font-size: 2rem;
    color: black;
    
    span {
      color: $color-orange-dark-1;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: inherit;
        font-size: 1.5rem;
      }
    }
  }
}